/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
}

ion-card-title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    background-color: rgb(198, 239, 239);
}