<app-header></app-header>
<ion-content>
  <ion-card class="ion-text-center  align-items-center flex-center">
    <h1 color="dark">Read the code</h1>
    <ion-row>
      <ion-col size="12" sizeMd="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>User</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <img alt="Silhouette of mountains" src="../../../../assets/user.png" />
          </ion-card-content>
        </ion-card>
      </ion-col>


      <ion-col size="12" sizeMd="6" class="ion-text-center  align-items-center flex-center">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Code Qr</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <qrcode [qrdata]="qrData" style="max-width: 256" [errorCorrectionLevel]="'M'">
            </qrcode>

          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>